*{
    margin: 0;
    padding: 0;
}
.container{
    /* border: 2px solid red; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("./assets/Space.png");
    background-color: skyblue;
    animation-name: bgMove;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    
}

.rocket{
    height: clamp(100px, 18vw, 200px);
    width: clamp(100px, 18vw, 200px);

    /* border: 2px solid red; */
    position: absolute;
     left: 30vw;
    bottom: 18vh;
    transform: rotate(45deg);
    /* animation-name: rocketMove;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 3; */

    animation: rocketMove 2s linear 3,
               rocketRotate 1s ease-in-out 11s forwards,
               rocketLaunch 2s ease-in-out 12.5s forwards;
}

.rocket img{
    height: 100%;
    width: 100%;
}


@keyframes bgMove{
    100%{
        background-position: -50000px;
    }
}

@keyframes rocketMove{
    0%{
        bottom: 18vh;
    }
    25%{
        bottom: 24vh;
    }
    50%{
        bottom: 18vh;
    }
    75%{
        bottom: 12vh;
    }
    100%{
        bottom: 18vh;
    }
}

@keyframes rocketRotate {
    100%{
        transform: rotate(-45deg);
    }
}

@keyframes rocketLaunch {
    100%{
        bottom: 400vh;
    }
}

.cody{
      height: clamp(80px, 14vw, 150px);
    width: clamp(80px, 14vw, 150px);

    /* border: 2px solid red; */
    position: absolute; 
    bottom: 18vh;
    left: -30vw;
    /* animation-name: codyMove;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 6s; */

    animation: codyMove 3s 6s forwards ,
               codyInRocket 1s 9.5s forwards;

    /* animatinName , duration , timingfunction,  delay  , fill mode */

    /* animation-name: codyInRocket; */
}

.cody img{
    height: 100%;
      
}

@keyframes codyMove{
    100%{
        left:  26vw;
    }
}

@keyframes codyInRocket{
    100%{
        left: 35vw;
        transform: scale(0);
    }
}
@media (max-width:768px){

    .rocket{
        left: 28vw;
        bottom: 15vh;
    }

    .cody{
        bottom: 15vh;
    }

    @keyframes codyMove{
        100%{
            left: 22vw;
        }
    }

    @keyframes codyInRocket{
        100%{
            left: 33vw;
            transform: scale(0);
        }
    }
}