h1,h2,h3,p{
    padding:0%;
    margin:0%
}body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:bisque

}
.screen{
    display:none;
}
.screen.active{
    display:block
}
#quiz{
    height:auto;
    width:400px;
    background-color: whitesmoke;
    border-radius:10px;
    
   
    flex-direction: column;
    padding:20px;
    gap:15px;
    justify-content: center;
    align-items: center;
    box-shadow:2px 4px 8px grey
}

h1{
    color:darkorange;
    
}
p{
    font-size: medium;
}
.btn{
    margin-top:5px;
    margin-bottom: 15px;
    padding:15px;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color:darkorange;
    color:white;
    border-radius: 4px;
    border:none;
    cursor:pointer;
}



#quiz.active{
    display:flex;
}

.quiz-header{
    width:400px;
    background-color: whitesmoke;
    padding:20px;
    display:flex;
    flex-direction:column;
    
    text-align: center;
}
.contents{
    margin:14px;
    display:flex;
    justify-content:space-between;
}